<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

      html, body {
        background-color: #001f3f;
        color: white;
        overflow: hidden;
      }

      * {
        font-family: 'Quicksand', sans-serif;
      }

      div.status {
        position: absolute;
        bottom: 0;
        left: 0;
        
        padding: 20px;
        line-height: 10px;
      }

      div.status>h1 {
        font-size: 1em;
      }

      .err {
        color: #FF4136;
      }

      .ok {
        color: #2ECC40;
      }

      a {
        text-decoration: none;
        color: #0074D9;
      }

      a::visited {
        text-decoration: none;
        color: #0074D9;
      }

      div.absoluteCenter {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        
        display: flex;
        align-items: center; 
        justify-content: center; 
        text-align: center; 
      } 
    </style>
    <title>Royal Butler | Twitch bot</title>
</head>
<body>
    <div class="status"> <!-- status check -->
        <h1>Bot: <%- (status.bot) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></h1>
        <h1>Database: <%- (status.db) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></h1>
        <h1>Points Handler: <span class="err"><%- (status.phandler) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></span></h1>
        <h1>Commands Handler: <span class="err"><%- (status.chandler) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></span></h1>
      </div>
      
      
      <div class="absoluteCenter">
        <h1>Connected as <%= bot.name %> To <a href='https://twitch.tv/<%= channel %>'><%= channel %> Twitch Channel</a></h1>
      </div>
</body>
</html>