<%- include('includes/header.ejs') %>

<h1 class="title">Commands</h1>
<div class="absoluteCenter">
    <div class="grid">
        <div class="row">
            <div class="command col-md-1">Name</div>
            <div class="reply col-md-5">Reply</div>
            <div class="desc col-md-6">Description</div>
        </div>
        <% commands.forEach(cmd => { %>
            <div class="row">
                <div class="command col-md-1"><%= cmd.command %></div>
                <div class="reply col-md-5"><%= cmd.reply %></div>
                <div class="desc col-md-6"><%= cmd.description %></div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('includes/footer.ejs') %>
