<%- include('includes/header.ejs') %>

<div class="absoluteCenter">
    <div class="grid">
        <div class="row">
            <div class="command">Name</div>
            <div class="reply">Reply</div>
            <div class="desc">Description</div>
        </div>
        <% commands.forEach(cmd => { %>
            <div class="row">
                <div class="command"><%= cmd.command %></div>
                <div class="reply"><%= cmd.reply %></div>
                <div class="desc"><%= cmd.description %></div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('includes/footer.ejs') %>
