<%- include('includes/header.ejs') %>

  <div class="status"> <!-- status check -->
      <h1>Bot: <%- (status.bot) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></h1>
      <h1>Database: <%- (status.db) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></h1>
      <h1>Points Handler: <%- (status.phandler) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></h1>
      <h1>Commands Handler: <%- (status.chandler) ? '<span class="ok">Active</span>' : '<span class="err">InActive</span>' %></h1>
    </div>
    
    
    <div class="absoluteCenter" style="position: fixed;">
      <% if (status.bot && status.db) { %>
        <h1>Connected as <%= env.name %> To <a href='https://twitch.tv/<%= env.channel %>' target="_blank"><%= env.channel %> Twitch Channel</a></h1>
      <% } else { %>
        <h1>Bot is <span class="err">down</span></h1>
      <% } %>
    </div>

<%- include('includes/footer.ejs') %>
      