<%- include('includes/header.ejs') %>

<div class="absoluteCenter">
    <div class="grid">
        <div class="row">
            <div class="index">#</div>
            <div class="name">Name</div>
            <div class="shells"><%= points.namePlural %></div>
            <div class="geggs">Golden Eggs</div>
            <div class="peggs">Platinum Eggs</div>
        </div>
        <% leaderboard.forEach(user => { %>
            <div class="row">
                <div class="index"><%= leaderboard.indexOf(user) + 1 %></div>
                <div class="name"><%= (user.name) ? user.name : user.username %></div>
                <div class="shells"><%= user.shells %></div>
                <div class="geggs"><%= user.geggs %></div>
                <div class="peggs"><%= user.peggs %></div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('includes/footer.ejs') %>
